[toolchain]
anchor_version = "0.29.0"

[features]
resolution = true
skip-lint = false

[programs.devnet]
spacemoney = "Fg6Pa4H2Qv7Vu86vAisdStXVNoTMTgks9R59yQhF6P2"

[programs.localnet]
spacemoney = "Fg6Pa4H2Qv7Vu86vAisdStXVNoTMTgks9R59yQhF6P2"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
